@indigo :#651af0;


.margenes(@top){
    margin-top: @top;
}
.preloaded {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.preloaded>div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-top: 2px solid @indigo;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    animation: rotar .6s infinite linear;
    animation-timing-function: ease-in-out;
}

@keyframes rotar {
    0% {
        transform: rotate(0%);
    }
    to {
        transform: rotate(1turn);
    }
}

.overflow {
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.height-60 {
    height: 60vh;
}

.card-hotel>div img {
    height: 15rem;
}

h1 {
    font-weight: bold;
}

h1 span {
    color: darkorange;
    font-weight: bold;
}

.w100 {
    width: 90%!important;
}

.jumbotron {
    .margenes(40px);
    padding: 2rem;
    background-color: @indigo;
    color: #fff;
    font-weight: bold;
    border-radius: unset;
}

.color {
    background-color: #e1e1e1;
}

.card-hotel {
    flex: 1 0 98%;
    margin-left: .5rem;
    justify-content: space-between;
}

.tab-content {
    padding-top: 1rem;
}

.icono {
    padding-right: .5rem;
}

.filter-b {
    -webkit-filter: brightness(.4);
}

.modal-reserva {
    margin-left: 1%;
    margin-top: 45%;
    left: 1%;
    bottom: 10%;
}

.modal-reserva>a {
    padding: .5rem;
    margin: .3rem;
}

.slogan {
    top: 10%;
    left: 1%;
}

.fs-2 {
    font-size: 1rem;
}

.fs-3 {
    font-size: 2rem;
}

.img-nosotros {
    height: 20rem;
    margin: 2rem auto;
    width: 50%;
}

.btn-reserva {
    width: 100%;
    border-radius: unset;
}

.referencias {
    text-align: center;
}

.referencias>a {
    color: #fff;
    margin-top: .5rem;
}

footer {
    margin-top: 1rem;
    background-color: @indigo;
    color: #fff;
    padding: 1rem;
}

.copy {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.h-20 {
    height: 20rem;
}

@media only screen and (min-width:468px) {
    .card-hotel {
        flex: 1 0 45%;
    }
}

@media only screen and (min-width:768px) {
    .card-hotel {
        flex: 1 0 30%;
    }
    .modal-reserva {
        margin-left: 2%;
        margin-top: 50%;
        left: 2%;
        bottom: 10%;
    }
    .modal-reserva>a {
        padding: 1rem;
        margin: .5rem;
    }
    .slogan {
        top: 10%;
        left: 1%;
    }
    .fs-2 {
        font-size: 1.5rem;
    }
    .fs-3 {
        font-size: 2.5rem;
    }
}